<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="justify-content-center">
        <div class="card">
          <div class="card-body text-center">
            <img
              src="./Images/SoftechLogo-removebg-preview.png"
              alt="logo"
              style="width: 200px; margin-bottom: 10px"
            />
            <h4 class="card-title text-center mb-4">Login</h4>
            <div class="form-group">
              <div>
                <input type="text" class="form-control mb-2" id="loginEmail" placeholder="Email"/>
              </div>
              <div
                id="alertEmail"
                class="alert alert-danger p-2 w-auto mx-auto d-none"
              >
                Enter valid email address
              </div>

              <div>
                <input
                  type="password"
                  class="form-control"
                  id="loginPassword"
                  placeholder="Password"
                />
              </div>
              <div
                id="alertPassword"
                class="alert alert-danger p-2 w-auto mx-auto d-none"
              >
                Enter valid password
              </div>

              <button class="btn btn-primary btn-block mt-3" id="loginBtn">
                Login
              </button>
              <hr />
              <a href="signup.html"
                ><p style="color: aliceblue">
                  Don't have an account? Sign Up
                </p></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="./JS/Login.js"></script>
  </body>
</html>
