{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'app/CSS_files/login.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="justify-content-center">
        <div class="card">
          <div class="card-body text-center">
            <img
              src="{% static 'images/SoftechLogo-removebg-preview.png' %}"
              alt="logo"
              style="width: 200px; margin-bottom: 10px"
            />
            <h4 class="card-title text-center mb-4">Sign Up</h4>
            <form id="signupForm" method="POST" class="form">
              {% csrf_token %}
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="field-error">
                    <p>{{error}}</p>
                </div>
                {% endfor %}
              {% endif %}
              <div class="inputs">
                <div>
                  <div class="form-group">
                    {{form.username}}
                  </div>
                  {% if form.username.errors %}
                  <div class="field-error">
                    <p>{{form.username.errors.as_text}}</p>
                  </div>
                  {% endif %}
                </div>
                <div>
                  <div class="form-group">
                    {{form.email}}
                  </div>
                  {% if form.email.errors %}
                  <div class="field-error">
                    <p>{{form.email.errors.as_text}}</p>
                  </div>
                  {% endif %}
                </div>
                <div>
                  <div class="form-group">
                    {{form.password1}}
                  </div>
                  {% if form.password.errors %}
                  <div class="field-error">
                    <p>{{form.password.errors.as_text}}</p>
                  </div>
                  {% endif %}
                </div>
                <div>
                  <div class="form-group">
                    {{form.password2}}
                  </div>
                  {% if form.password2.errors %}
                  <div class="field-error">
                    <p>{{form.password2.errors.as_text}}</p>
                  </div>
                  {% endif %}
                </div>
              </div>
            
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  </body>
</html>
