{% extends "base_template/base.html" %}
{% block title %}Contact Us{% endblock title %}
{% load static %}
{% block content %} 
      <section style="position: relative; z-index: 0;">
            <div style="position: relative; z-index: 1; width: 100%; height: 750px;">
               <form method="POST" class="bg-body py-5 h-70 text-center" id="contactbackground" style="position: absolute; z-index: 1; float: left;">
                  {% csrf_token %}
                  <h2 class="fs-3 fw-bold mb-5">Get In Touch</h2>

                  {{form.emp_name}}
                  <div id="alertName" class="alert alert-danger p-2 w-75 mx-auto d-none">First letter must be capital</div>

                  {{form.email}}
                  <div id="alertEmail" class="alert alert-danger p-2 w-75 mx-auto d-none">Enter valid email address</div>

                  {{form.subject}}
                  <div id="alertSubject" class="alert alert-danger p-2 w-75 mx-auto d-none">Please enter a subject.</div>

                  {{form.message}}
                  <div id="alertMessage" class="alert alert-danger p-2 w-75 mx-auto d-none">Please enter a message.</div>
            

                  <div class="buttons w-75 mx-auto">
                     <div>
                        <div>
                           <button class="btn btn-primary mt-5 p-2 justify-content-center" type="submit" id="addBtn">Submit</button>
                        </div>
                     </div>
                  </div>
               </form>

               <div style="position: relative; z-index: 1;  width: 50%; height: 450px; float: right; margin: 110px 0;">
                  <img style="margin: 0 0 0 350px;" src="{% static 'images/mailicon.png' %}" alt="Mail">
                  <h1>Write us a Mail</h1>
                  <p style="text-align: center;">enquiries@softech.com</p>
                  <img style="margin: 10px 0 5px 350px;" src="{% static 'images/callicon.png' %}" alt="Call">
                  <h1 style="margin: 5px 0 5px 0;">Make us a Call</h1>
                  <p style="text-align: center;">+91 (0)124 497-5760</p>
                  <img style="margin: 10px 0 0 350px;" src="{% static 'images/locationicon.png' %}" alt="Location">
                  <h1 style="margin: 5px 0 5px 0;">Reach us at Office</h1>
                  <p style="text-align: center; padding: 0 170px;">52-A, Krantiveer Lakhuji Salve Marg, Mulgaon, Andheri East, Mumbai, Maharashtra 400093</p>
               </div>
            </div>
         </section>

        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241265.82399908986!2d72.57278107401028!3d19.117370700000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c83adbfecef9%3A0xc215cea66080a605!2sSoftech%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1713601535231!5m2!1sen!2sin" width="100%" height="450" style="border:0; margin: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

         <div class="w-auto mx-auto">
            <h2 class="fs-3 fw-bold text-decoration-underline mb-2 mt-5">All Query Details</h2>
            <table class="table table-dark table-hover mt-4 mb-5 text-center w-75">
               <thead class="fw-bold">
                  <th>Name</th>
                  <th>Email</th>
                  <th>Subject</th>
                  <th>Message</th>
                  <th>Action</th>
               </thead>
               <tbody id="contactTable">
                  {% for f in feedback %}
                  <tr>
                     <td>{{f.emp_name}}</td>
                     <td>{{f.email}}</td>
                     <td>{{f.subject}}</td>
                     <td>{{f.message}}</td>
                     <td>{{f.action}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </section>
{% endblock content %}