{% extends "base_template/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %} 
            <div class="bg-body py-5 text-center" id="formbackground">
                <h2 class="fs-3 fw-bold text-decoration-underline mb-5">Add Department</h2>
                <form class="form-group" method="POST">
                  {% csrf_token %}
                    {{form.department_name}}
                    <div id="alertnewdept" class="alert alert-danger p-2 w-75 mx-auto d-none">First letter must be capital, Only Alphabets,Spaces and Parenthesis are allowed, has a length between 1 and 30 characters</div>

                    {{form.department_status}}
                    <div id="alertDeptStatus"  class="alert alert-danger p-2 w-75 mx-auto d-none"> Select Department Status</div>
                    
                            
                    <div class="buttons w-75 mx-auto">
                        <div>
                            <div>
                            <button class="btn btn-primary mt-3 p-2 justify-content-center" type="submit" id="addDeptBtn">Add Department</button>
                            </div>
                        </div>
                    </div>
                  </form>
            </div>
            <div class="w-auto mx-auto">
                <h2 class="fs-3 fw-bold text-decoration-underline mb-2 mt-5">All Departments</h2>
                <table class="table table-dark table-hover mt-4 mb-5 text-center w-75">
                   <thead class="fw-bold">
                    <th>Department</th>
                    <th>Status</th>
                   </thead>
                   <tbody id="DeptTable">
                    {% for d in department %}
                      <tr>
                        <td>{{d.department_name}}</td>
                        <td>{{d.department_status}}</td>
                      </tr>
                      {% endfor %}
                   </tbody>
                </table>
             </div>
        </section>
        {% endblock content %}