{% extends "base_template/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %} 

         <form method="POST" class="bg-body py-5 text-center" id="formbackground">
            {% csrf_token %}
            <h2 class="fs-3 fw-bold text-decoration-underline mb-5">Add New Employee</h2>

            {{form.emp_id}}
            <div id="alertEmpid" class="alert alert-danger p-2 w-75 mx-auto d-none">Alphanumeric characters and has a length between 5 and 10 characters.</div>

            {{form.emp_name}}
            <div id="alertName" class="alert alert-danger p-2 w-75 mx-auto d-none">First letter must be capital</div>

            {{form.mobile_number}}
            <div id="alertMobile" class="alert alert-danger p-2 w-75 mx-auto d-none">Mobile number must be 10 digits</div>

            {{form.email}}
            <div id="alertEmail" class="alert alert-danger p-2 w-75 mx-auto d-none">Enter valid email address</div>

            {{form.address}}

            {{form.department_name}}
            <div id="alertDepartment" class="alert alert-danger p-2 w-75 mx-auto d-none">Enter valid department name</div>
            
            <div id="alertDept" class="alert alert-danger p-2 w-75 mx-auto d-none">Select a valid Department</div>

            {{form.role}}
            <div id="alertRole" class="alert alert-danger p-2 w-75 mx-auto d-none">Select a valid Role</div>
      

            <div class="buttons w-75 mx-auto">
               <div class="row g-0">
                  <div class="col-6 text-start">
                     <button class="btn btn-primary mt-3 p-2" id="updateBtn" style="display: none;">Update Employee Details</button>
                  </div>
                  <div class="col-6 text-end">
                     <button class="btn btn-danger mt-3 me-2 p-2" id="resetBtn" style="margin-left: 45%;">Reset</button>
                     <button class="btn btn-primary mt-3 p-2" id="addBtn" type="submit" style="float: right;">Add Employee</button>
                  </div>
               </div>
            </div>
         </form>

         <div class="w-auto mx-auto">
            <h2 class="fs-3 fw-bold text-decoration-underline mb-2 mt-5">All Employee Details</h2>
            <table class="table table-dark table-hover mt-4 mb-5 text-center w-75">
               <thead class="fw-bold">
                  <th>EmpId</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Dept.</th>
                  <th>Role.</th>
               </thead>
               <tbody id="myTable">
                  {% for e in employee  %}
                  <tr>
                     <td>{{e.emp_id}}</td>
                     <td>{{e.emp_name}}</td>
                     <td>{{e.mobile_number}}</td>
                     <td>{{e.email}}</td>
                     <td>{{e.address}}</td>
                     <td>{{e.department_name}}</td>
                     <td>{{e.role}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </section>
      {% endblock content %}