{% extends "base_template/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %} 
            <section style="position: relative; z-index: 0;">
                <div style="position: relative; z-index: 1; width: 100%; height: 450px;">
                    <div class="text-center" style="margin-top: 20px;">
                        <h1>Softech is
                        <!-- Scroller Start -->
                        
                        <div class="scroller">
                            <span class="animated-text text-start">
                                Innovating<br/>
                                Exploring<br/>
                                Discovering<br/>
                                Evolving
                            </span>
                        </div>
                        
                        <!-- Scroller End -->
                        </h1>
                    </div>
                    <div class="gradient-line">
                    </div>
                    <div style="font-weight: normal; margin: 20px 0;">
                        <div class="line">
                        <h2 style="margin: 40px 0 30px 0;" class="lineUp">Welcome to Softech Pvt. Ltd.</h2>
                        </div>
                        <div class="line">
                        <p class="text-center lineUp" style="margin: 10px 150px 30px 150px;">At Softech Pvt. Ltd., we specialize in providing innovative solutions for Employee Management Systems. With years of experience and a dedicated team of professionals, we are committed to revolutionizing the way businesses manage their workforce.</p>
                        </div>
                        <div class="line">
                        <h2 style="margin: 30px 0;" class="lineUp">About Us</h2> 
                        </div>
                        <div class="line">
                        <p class="text-center lineUp" style="margin: 10px 150px 30px 150px;">Softech Pvt. Ltd. is a leading technology company dedicated to empowering businesses with efficient and effective Employee Management Systems. Our comprehensive solutions are designed to streamline HR processes, enhance productivity, and drive business growth.</p>
                        </div>
                        <div class="line">
                        <h2 style="margin-top: 30px; bottom: 20px;" class="lineUp">Our Services</h2> 
                    </div>          
                    </div>
                </div>
            </section>
            <div class="hrline"></div>
            <section style="position: relative; z-index: 0;">
                <div style="position: relative; z-index: 1; width: 100%; height: 450px;">
                    <div style="position: absolute; z-index: 1; width: 50%; height: 450px; float: left">
                        <a href="employees.html" style="text-decoration: none;"><div style="position: relative; z-index: 1;" id="card" class="text-center container justify-content-center animated-text">
                            <h3>Employee Management</h3><br>
                            <p>Unlock your potential and grow with us. Explore exciting career opportunities and join our dynamic team today!</p>
                        </div></a>
                    </div>
                    <div style="position: relative; z-index: 1;  width: 50%; height: 450px; float: right;">
                        <img src="https://img.freepik.com/free-photo/creative-people-working-office_23-2147656715.jpg?t=st=1714922802~exp=1714926402~hmac=e0fd12138f0f40b83b39812be8f94cafb3867b006bf75a6470fa2f2a45e1b862&w=996"  alt="employee" class="img-fluid" id="Homeimg1">
                    </div>           
                </div>
                

                <div style="position: relative; z-index: 1; width: 100%; height: 450px;">
                    <div style="position: relative; z-index: 1; width: 50%; height: 450px; float: right;">
                        <a href="departments.html" style="text-decoration: none;"><div style="position: relative; z-index: 1;" id="card" class="text-center container justify-content-center animated-text2">
                            <h3>Explore Our Departments</h3><br>
                            <p>Discover where you belong. Explore our diverse range of departments and find the perfect fit for your skills and interests.</p>
                        </div></a>
                    </div>
                    <div  style="position: relative; z-index: 1;  width: 50%; height: 450px; float: left;">
                        <img src="{% static 'images/Employee-departments.jpg' %}"  alt="employee" class="img-fluid" id="Homeimg1">
                    </div>
                </div>

                <div style="position: relative; z-index: 1; width: 100%; height: 450px;">
                    <div style="position: absolute; z-index: 1; width: 50%; height: 450px;">
                        <a href="payroll.html" style="text-decoration: none;"><div style="position: relative; z-index: 1;" id="card" class="text-center container justify-content-center animated-text">
                            <h3>Payroll Management</h3><br>
                            <p>Efficiently handle employee compensation. Our payroll management system makes it easy to pay your team accurately and on time.</p>
                        </div></a>
                    </div>
                    <div  style="position: relative; z-index: 1;  width: 50%; height: 450px; float: right;">
                        <img src="{% static 'images/Employee-payroll.jpg' %}"  alt="employee" class="img-fluid" id="Homeimg1">
                    </div>           
                </div>

                <div style="position: relative; z-index: 1; width: 100%; height: 450px;">
                    <div style="position: relative; z-index: 1; width: 50%; height: 450px; float: right;">
                        <a href="attendance.html" style="text-decoration: none;"><div style="position: relative; z-index: 1;" id="card" class="text-center container justify-content-center animated-text2">
                            <h3>Attendance Tracking</h3><br>
                            <p>Ensure punctuality and accountability. Our attendance tracking solution helps you stay on top of your team's schedule.</p>
                        </div></a>
                    </div>
                    <div  style="position: relative; z-index: 1;  width: 50%; height: 450px; float: left;">
                        <img src="{% static 'images/Employee-attendance.jpg ' %}"  alt="employee" class="img-fluid" id="Homeimg1">
                    </div>    
                </div>

                <div style="position: relative; z-index: 1; width: 100%; height: 450px;">
                    <div style="position: absolute; z-index: 1; width: 50%; height: 450px;">
                        <a href="leave.html" style="text-decoration: none;"><div style="position: relative; z-index: 1;" id="card" class="text-center container justify-content-center animated-text">
                            <h3>Leave Management System</h3><br>
                            <p>Simplify leave management for your teamco. Submit, approve, and track employee leave requests effortlessly.</p>
                        </div></a>
                    </div>
                    <div  style="position: relative; z-index: 1;  width: 50%; height: 450px; float: right;">
                        <img src="{% static 'images/Employee-leave.webp' %}"  alt="employee" class="img-fluid" id="Homeimg1">
                    </div>           
                </div>
            </section>
{% endblock content %}
