{% extends "base_template/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
         <div class="bg-body py-5 justify-content-center" id="formbackground">
            <h2 class="fs-3 fw-bold text-decoration-underline mb-5">Add Leave</h2>

            <label for="Eid">Employee ID :</label>
            <select id="Eid" class="form-control mb-2 w-75 mx-auto">
               <option value="">Select Employee ID</option>
               
            </select>
            <div id="alertEmpid" class="alert alert-danger p-2 w-75 mx-auto d-none">Select valid Employee ID</div>

            <label for="Ename">Employee Name :</label>
            <select id="Ename" class="form-control mb-2 w-75 mx-auto">
               <option value="">Select Employee</option>
               
            </select>
            <div id="alertName" class="alert alert-danger p-2 w-75 mx-auto d-none">Select valid Employee Name</div>

            <label for="from">From :</label>
            <input type="date" id="from" class="form-control mb-2 w-75 mx-auto">
            <div id="alertFrom" class="alert alert-danger p-2 w-75 mx-auto d-none">Enter valid time</div>

            <label for="to">To :</label>
            <input type="date" id="to" class="form-control mb-2 w-75 mx-auto">
            <div id="alertTo" class="alert alert-danger p-2 w-75 mx-auto d-none">Enter valid time</div>

            <label for="reason">Reason :</label>
            <input type="text" id="reason" placeholder="Reason" class="form-control mb-2 w-75 mx-auto">
            <div id="alertReason" class="alert alert-danger p-2 w-75 mx-auto d-none">Reason is required and should not contain any special characters.</div>
      

            <div class="buttons w-75 mx-auto">
               <div>
                  <div class="text-start">
                     <button class="btn btn-primary mt-3 p-2" id="updateBtn" style="display: none;">Update Employee Details</button>
                  </div>
                  <div class="text-end">
                     <button class="btn btn-danger mt-3 me-2 p-2" id="resetBtn" style="margin-left: 77%;">Reset</button>
                     <button class="btn btn-primary mt-3 p-2" id="addBtn" style="float: right;">Add Leave</button>
                  </div>
               </div>
            </div>
         </div>


        <div class="w-auto mx-auto">
            <h2 class="fs-3 fw-bold text-decoration-underline mb-2 mt-5">Leave Entries</h2>
            <table class="table table-dark table-hover mt-4 mb-5 text-center w-75">
               <thead class="fw-bold">
                <th>EmpID</th>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th>Reason</th>
                <th colspan="2">Action</th>
            </thead>
            <tbody id="LeaveTable">
               {% for l in leave %}
               <tr>
                  <td>{{l.emp_id}}</td>
                  <td>{{l.emp_name}}</td>
                  <td>{{l.from_date}}</td>
                  <td>{{l.to_date}}</td>
                  <td>{{l.reason}}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </section>
   {% endblock content %}