{% extends "base_template/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
            <div class="bg-body py-5 text-center" id="formbackground">
                <h2 class="fs-3 fw-bold text-decoration-underline mb-5">Add New Payroll</h2>
                
                
                <div id="alertName" class="alert alert-danger p-2 w-75 mx-auto d-none">Select Employee</div>

                
                <div id="alertRole" class="alert alert-danger p-2 w-75 mx-auto d-none">Select a valid Role</div>


                <input  id="BasicSalary" type="number"  placeholder="Basic Salary" class="form-control mb-2 w-75 mx-auto">
                <div id="alertBasicSalary" class="alert alert-danger p-2 w-75 mx-auto d-none">Enter valid Basic Salary with maximum of 8 digits and upto 2 decimal places</div>

                <input  id="Allowance" type="number"  placeholder="Computer/Telephone/Cell Allowance" class="form-control mb-2 w-75 mx-auto">
                <div id="alertAllowance" class="alert alert-danger p-2 w-75 mx-auto d-none">Enter valid Allowance with maximum of 8 digits and upto 2 decimal places</div>

                <input  id="Tax" type="number"  placeholder="Tax" class="form-control mb-2 w-75 mx-auto">
                <div id="alertTax" class="alert alert-danger p-2 w-75 mx-auto d-none">Enter valid Tax with maximum of 8 digits and upto 2 decimal places</div>

                <input  id="NetSalary" type="number" placeholder="Net Salary" class="form-control mb-2 w-75 mx-auto"  readonly>
        

                <div class="buttons w-75 mx-auto">
                <div class="row g-0">
                    <div class="col-6 text-start">
                        <button class="btn btn-primary mt-3 p-2" id="updateBtn" style="display: none;">Update Payroll Details</button>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-danger mt-3 me-2 p-2" id="resetBtn" style="margin-left: 45%;">Reset</button>
                        <button class="btn btn-primary mt-3 p-2" id="addBtn" style="float: right;">Add Payroll</button>
                    </div>
                </div>
                </div>
            </div>


            <div class="w-auto mx-auto">
                <h2 class="fs-3 fw-bold text-decoration-underline mb-2 mt-5">Payroll Details</h2>
                <table class="table table-dark table-hover mt-4 mb-5 text-center w-75">
                    <thead  class="fw-bold">
                            <th>Employee</th>
                            <th>Role</th>
                            <th>Basic Salary</th>
                            <th>Allowances</th>
                            <th>Tax</th>
                            <th>Net Salary</th>
                    </thead>
                    <tbody id="payrollTable">
                        
                    </tbody>
                </table>
            </div>
        </section>
        {% endblock content %}